<% i = 0 %>
<% background = Proc.new { |i| i % 2 == 0 ? "data_a" : "data_b"} %>
<% provide(:title, 'All Flights') %>
<h1 style="float:center;margin-left:36px;">All Flights</h1>
<div class="box">
  <div class="table_spacer">
    <table>
      <tbody>
          <tr>
            <td class="col_name">code:</td>
            <td class="col_name">from:</td>
            <td class="col_name">to:</td>
            <td class="col_name">duration:</td>
            <td class="col_name">departure:</td>
            <td class="col_name">arrival:</td>
        <% @flights.each do |flight| %>
        <% i += 1 %>
          <tr>
            <td class="<%= background.call(i) %>"><%= flight.code %></td>
            <td class="<%= background.call(i + 1) %>"><%= flight.from %></td>
            <td class="<%= background.call(i) %>"><%= flight.to %></td>
            <td class="<%= background.call(i + 1) %>"><%= flight.duration %></td>
            <td class="<%= background.call(i) %>"><%= flight.departure %></td>
            <td class="<%= background.call(i + 1) %>"><%= flight.arrival %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
