<% provide(:title, 'Find Flight') %>
<h1 style="float:center;margin: 40px 0px 0px 36px;">Find a Flight</h1>
<div class="box">
  <div style="margin:5%;">
    <div style="display:inline-block;width:15%;"></div>
    <div style="display:inline-block;width:40%;">
      <h5>From:<h5>
      <select name="airport_name" class="dropdown">
        <%= @airports.each do |a| %>
          <option value="<%= a.name %>"><%= a.name %></option>
        <% end %>
      </select>
      <div style="height:10px;"></div>
      <h5>To:<h5>
      <select name="airport_name" class="dropdown">
        <%= @airports.each do |a| %>
          <option value="<%= a.name %>"><%= a.name %></option>
        <% end %>
      </select>
    </div>
    <div style="display:inline-block;width:35%">
      <h5>Date:<h5>
        <div style="width:75%;">
          <%= date_field :date, class: 'form-control', style: "width:100%;" %>
        </div>
      <h5>Number of passengers:<h5>
        <div style="width:15%">
          <%= text_field :location, class: 'form-control', style: "width:50%;" %>
        </div>
    </div>
  </div>
</div>
